.pages_controller.home_action section.header .logo{
  margin:0 auto 16px;
  width: 131px;
  height: 116px;
  background-image: url(https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/header_logo-0dbc9cb7c037472d3bf71fde0c1d3efd708c2c2547e9ed3e420051ca826cdad8.png);
  background-size: contain;
  background-position: center;
  backgrounf-repeat: no-repeat;
  magrin-top: 5vh;
  animation: fadeIn 2s ease 0.2s 1 normal
}
