element.style {
}

header {
  position: fixed;
  z-index: 10;
  background-color: #fff;
  width: 100%;
}

article,aside,details,figcaption,figure,footer,header,hgroup,summary {
  display: block;
}

code {
  padding: 2px 4px;
  font-size:90%
  color:#c7254e;
  background-color:#f9f2f4;
  border-radius:4px;
}

code.kbd,pre,samp {
  font-family:Menlo,Monaco,Consolas,"Courier New",monospace;
}
